.searchContainer {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(19,20,42,1) 0%, rgba(22,43,78,1) 48%, rgba(19,20,42,1) 100%);
}

.searchBox {
    position: relative;
    padding-bottom: 5px;
}

.searchInput {
    width: 1250px;
    background: rgba(253, 253, 253, 0.7);
    height: 25px;
    border-radius: 15px;
    padding: 5px 20px 5px 10px;
    font-size: 1.5rem;
    border: 1px solid black;
    
}

.searchInput:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}

@media (max-width: 1300px){
    .searchContainer{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .searchInput {
        margin: 10px 0px 10px -20px;
        width: auto;
        padding: 10px 60px;
    }

    .searchButton {
        position: absolute;
        left: auto;
        margin: auto;
    }
}