@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
@import url('http://fonts.cdnfonts.com/css/univia-pro?styles=28106%27');


.title {
    font-family: 'Univia Pro', sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #afc2c1;
    text-shadow:0 7px 30px rgb(0, 0, 0),0 5px 3px #000000,0 5px 3px #000000,0 10px 15px #000000;
}

.header {
  display: flex;
  justify-content: center;
  height: 150px;
  background: linear-gradient(90deg, rgba(19,20,42,1) 0%, rgba(22,43,78,1) 48%, rgba(19,20,42,1) 100%);
}

a {
  height: 110px;
}